/* https://feathericons.com */
/* https://ionic.io/ionicons */
/* https://codepen.io/sosuke/pen/Pjoqqp */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: black;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 10px;
}

h2 {
    margin-bottom: 2vw;
}

li {
    margin-bottom: 1.5vw;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    overflow: hidden;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 80px;
    z-index: 99;
}

.grid-container {
    width: 100%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1.5fr auto; */
}

.grid-container-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block {
    padding-top: 100%;
    background-color: black;
    position: relative;
}

.tetris-bg {
    background-image: url('./images/tetris.png');
    background-size: cover;
    background-position: center;
}

.listmaker-bg {
    background-image: url('./images/listmaker.png');
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -webkit- is for safari. */
.project {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tetris {
    cursor: pointer;
}

.listmaker {
    cursor: pointer;
    color: white;
    text-align: right;
}

.padding-small {
    padding: 2vw;
}

.large-font {
    font-size: 3.5vw
}

.description-font {
    font-size: 3vw;
}

.medium-font {
    font-size: 2vw;
}

.resume {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bottom-border {
    border-bottom: solid 1px darkgrey;
}

.github {
    color: white;
}

.git-square {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-repo {
    background-color: #131315;
}

.listmaker-repo {
    background-color: #1A014B;
}

.tetris-repo {
    background-color: #27004B   ;
}

.contact {
    background-color: purple;
    font-size: 2.2vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bg-icon {
    cursor: pointer;
    height: 20%;
    width: 20%;
    background-size: cover;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(306deg) brightness(114%) contrast(100%);
}

/* .bg-icon:hover {
    filter: invert(84%) sepia(94%) saturate(7481%) hue-rotate(359deg) brightness(100%) contrast(102%);
} */

.hover-icon:hover {
    filter: invert(84%) sepia(94%) saturate(7481%) hue-rotate(359deg) brightness(100%) contrast(102%);
}

.icon-small {
    cursor: pointer;
    height: 30%;
    width: 30%;
    background-size: cover;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(306deg) brightness(114%) contrast(100%);
    border: solid 10px white;
}

.icon-mail {
    background-image: url('./images/mail.svg');
}

.icon-linkedin {
    background-image: url('./images/logo-linkedin.svg');
}

.icon-github {
    background-image: url('./images/logo-github.svg');
}

.icon-git {
    background-image: url('./images/git-branch-outline.svg');
}

.resume-icon {
    background-size: cover;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(306deg) brightness(114%) contrast(100%);
    height: 30%;
    width: 15%;
    margin-bottom: 2vw;
}

.margin {
    margin: 3vw;
}

.margin-left {
    margin-left: 3vw;
}

.education {
    background-image: url('./images/school.svg');
    z-index: 98;
}

.tech {
    background-image: url('./images/monitor.svg');
    z-index: 98;
}



/* Responsive */
@media only screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr
    }

    .large-font {
        font-size: 7vw;
    }

    .description-font {
        font-size: 6vw;
    }

    .medium-font {
        font-size: 4vw;
    }

    .padding-small {
        padding: 4vw;
    }

    h1 {
        font-size: 1.1em;
    }

  }